
body{
    font-size: 16px;
    text-align: center;
}

footer{
    color: white;
    background-color: #7a2aff;
    padding: 1%;
    margin: 2% 0 0 0;
}

a{
    color: white;
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #7a2aff;
    padding: 6px 12px;
    margin: 0 5% 0 5%;
    border-radius: 20px;
}

nav a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    padding: 10px 22px;
    border-radius: 8px;
    font-weight: 500;
    transition: all 0.2s;
    position: relative;
}

nav a::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    transition: width 0.2s;
}

nav a:hover {
    color: #fff;
    background-color: #531fb1
}

nav a:hover::after {
    width: 60%;
}

nav a.active {
    color: #fff;
}

nav a.active::after {
    width: 60%;
}

.bouton{
    text-decoration: none;
    color: #fff;
    background-color: #7a2aff;
    padding: 10px;
    border-radius: 15px;
    transition: 0.2s;
}

.bouton:hover{
    background-color: #531fb1;
    font-size: large;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e7e4fa;
    margin: 1% 5% 0 5%;
    padding: 2%;
    border-radius: 20px;
}

#chat-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

.chat-container{
    background-color: #e7e4fa;
    width: 70%;
    border-radius: 10px;
    border: #535050 solid 1px;
}

#chat-box{
    height: 300px;
    border-radius: 10px;
    overflow-y: auto;
    background-color: #2b2929;
}

#user-input form{
    display: flex;
    margin-top:1%;
    margin-bottom: 1%;
}

#saisie{
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

#envoi_chat{
    margin-right: 2%;
    padding: 10px;
    border-radius: 10px;
    background-color: #4b6ec9;
    color: white;
}

#envoi_chat:hover{
    background-color: #488fff;
}

.user-mess{
    text-align: left;
    color: white;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: 5px;
    background-color: #4b6ec9;
    width: fit-content;
    max-width: 50%;
    border-radius: 10px;
}

.bot-mess{
    text-align: left;
    color: white;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: 5px;
    background-color: #5e5b5b;
    width: fit-content;
    max-width: 50%;
    border-radius: 10px;
}