
body{
    font-size: 16px;
    text-align: center;
}

footer{
    color: white;
    background-color: #7a2aff;
    padding: 1%;
    margin: 2% 5% 0 5%;
    border-radius: 15px;
}

a{
    color: white;
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #7a2aff;
    padding: 6px 12px;
    margin: 0 5% 0 5%;
    border-radius: 20px;
}

nav a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    padding: 10px 22px;
    border-radius: 8px;
    font-weight: 500;
    transition: all 0.2s;
    position: relative;
}

nav a::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    transition: width 0.2s;
}

nav a:hover {
    color: #fff;
    background-color: #531fb1
}

nav a:hover::after {
    width: 60%;
}

nav a.active {
    color: #fff;
}

nav a.active::after {
    width: 60%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e7e4fa;
    margin: 1% 5% 0 5%;
    padding: 2%;
    border-radius: 20px;
}

#chat-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    display: none;
}

.chat-container{
    background-color: #e7e4fa;
    width: 70%;
    border-radius: 10px;
    border: #535050 solid 1px;
}

#chat-box{
    height: 300px;
    border-radius: 10px;
    overflow-y: auto;
    background-color: #2b2929;
}

#user-input form{
    display: flex;
    margin-top:1%;
    margin-bottom: 1%;
}

#saisie{
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

#envoi_chat{
    margin-right: 2%;
}

.user-mess{
    text-align: left;
    color: white;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: 5px;
    background-color: #4b6ec9;
    width: fit-content;
    max-width: 50%;
    border-radius: 10px;
}

.bot-mess{
    text-align: left;
    color: white;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: 5px;
    background-color: #5e5b5b;
    width: fit-content;
    max-width: 50%;
    border-radius: 10px;
}

.formulaire{
    text-align: left;
}

.formulaire div{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#container-genre, #container-device{
    display: flex;
    flex-direction: row;
}

#container-device{
    margin-top: 10px;
}

.formulaire select{
    height: 20px;
}

.formulaire input{
    height: 25px;
    border-radius: 5px;
    background-color: #f1f1f1;
}

.formulaire textarea{
    width: 99%;
    max-height: 500px;
    resize: vertical;
    border-radius: 5px;
}

#bouton-formulaire{
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 0;
}

button, .bouton{
    color: white;
    background-color: #7a2aff;
    width: auto;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    transition: 0.2s;
    border: none;
}

button:hover, .bouton:hover{
    background-color: #531fb1;
    cursor: pointer;
    font-size: 17px;
}

fieldset{
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 10px;
    margin-top: 10px;
}
legend{
    color: white;
    background-color: #4b6ec9;
    border-radius: 15px;
    margin-bottom: 10px;
}

.post-form{
    display: none;
}

ol, ul{
    list-style: none;
}

li{
    padding-bottom: 5px;
}

.gras{
    font-weight: bold;
}

table, td, caption{
    border: none;
    border-radius: 10px;
}

td{
    padding: 10px;
}

caption{
    color: #7944ff;
    font-size: large;
}

thead tr{
    background-color: #7a2aff;
    color: white;
}

thead tr th{
    border-radius: 10px;
    padding:5px;
}

tbody tr{
    background-color: #fff4e0;
}

.score, .instructions{
    display: none;
}
